body{
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 2fr 8fr;  
  height: 600px;
}
nav{
  grid-column: span 2;
}
#Dessert-tab{
  display: none;
}
#List-section{
  color: black;
  overflow-y: scroll;
  height: 110%;
  border: #FE446B 3px solid;
  border-radius: 3px;
  background-image: linear-gradient(0deg, #FF5733 , #F91D4B);
}
#Details{
  height: 110%;
  text-align: center;
  margin-left: 5px;
  border: #FE446B 3px solid;
  border-radius: 3px;
  overflow-y: scroll;
  display: block;
}
.Listings{
  background-color: #FE446B ;
  border-radius: 4px;
  margin-bottom: 3px;
  color: black;
}
.Listings:hover{
  background-color:#C70039;
}
#Home{
  display: block;
}
#Home-Img{
  width: 30%;
  margin-top: 5px;
}
#Home-p{
  font-size: large;
}

.icon{
  width: 25px;
}
.Info{
  
}
#Contact>li{
  font-size: 20px;
  margin-bottom: 20px;
}
button:hover {
  background-color:#C70039;
}

@media screen and (max-width: 500px) {
  body{
    display: grid;
    grid-template-rows: 1fr 8fr; 
    grid-template-columns: 1fr;
    height: 600px;
  }
    #Dessert-tab{
        display: inline;
    }
    #List-section{
        display: none;
    }
    #Details{
        width: 100%;
        height: 100%;
    }
}
